<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% block stylesheets %}
    {{ encore_entry_link_tags('std') }}

{% endblock  %}
{#{% block title %}dashboard{% endblock %}#}

{% block body %}
    <div class="header">
        <a href="#default" class="logo">CompanyLogo</a>
        <div class="header-right">
            <a class="active" href="#home">Home</a>
            <a href="#contact">find Tutor</a>
            <a href="#contact">You Subjects</a>
            <a href="#about">About</a>
            <a href="#about">Help</a>
            <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    </div>
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                {#<div class="profile-img">#}
                    {#<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>#}
                    {#<div class="file btn btn-lg btn-primary">#}
                        {#Change Photo#}
                        {#<input type="file" name="file"/>#}
                    {#</div>#}
                {#</div>#}
            </div>
            <div class="col-md-6">
            </div>
            {% if app.user %}

            <div class="col-md-2">
                <a  href="{{ path('update_student',{'id': data.id}) }}">Edit Profile</a><br>
             </div>
            {% endif %}


        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="profile-head">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <h5>{{ data.user.username }}</h5>
                    <h6><p> phone No: {{ data.phone }}</p></h6>
                    <p class="proile-rating" >Age : <span> {{ data.age }}</span></p>
                    <p class="proile-rating" >Gender : <span> {{ data.gender }}</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        {#<li class="nav-item">#}
                        {#<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                        {#<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>#}
                        {#</li>#}
                    </ul>
                </div>
                <div class="profile-work">
                    <p>program: <span>{{ data.program }}</span></p>
                </div>
            </div>

        </div>
    </form>
</div>
{% endblock %}


{#{% block javascript %}#}
{#{{ encore_entry_script_tags('student_background') }}#}


{#{% endblock %}#}