<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% block stylesheets %}
    {{ encore_entry_link_tags('std') }}

{% endblock  %}
{#{% block title %}dashboard{% endblock %}#}

{% block body %}
    {#<h1>student</h1>#}
    <div class="header">
        <a href="#default" class="logo">CompanyLogo</a>
        <div class="header-right">
            <a class="active" href="#home">Home</a>
            <a href="#contact">find Tutor</a>
            <a href="#contact">You Subjects</a>
            <a href="#about">About</a>
            <a href="#about">Help</a>
            <a href="#about">About Us</a>
        </div>
    </div>
{% if app.user %}

    <div class="mb-3">
        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
{% endif %}

    {#{{ dump(data) }}#}


{#{{ dump(data) }}#}
<!------ Include the above in your HEAD tag ---------->
{#<canvas id="c"></canvas>#}
{#<div class="info">Click to add gravity point.</div>#}

    <div id="anime">
        <div class="stars"></div>
        <div id="tridiv">
            <div class="scene" style="-webkit-transform:rotateX(-35deg) rotateY(-22deg); -moz-transform:rotateX(-35deg) rotateY(-22deg); -ms-transform:rotateX(-35deg) rotateY(-22deg); transform:rotateX(-35deg) rotateY(-22deg); ">
                <div class="shape cuboid-1 cub-1">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0666667);"></div>
                    </div>
                </div>
                <div class="shape prism-1 pri-1">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.12549);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face-wrapper rt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                        </div>
                    </div>
                    <div class="face-wrapper lt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                        </div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
                    </div>
                </div>
                <div class="shape cuboid-2 cub-2">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0666667);"></div>
                    </div>
                </div>
                <div class="shape prism-2 pri-2">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0901961);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face-wrapper rt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                        </div>
                    </div>
                    <div class="face-wrapper lt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                        </div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
                    </div>
                </div>
                <div class="shape prism-3 pri-3">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.160784);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face-wrapper rt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0666667);"></div>
                        </div>
                    </div>
                    <div class="face-wrapper lt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
                        </div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                    </div>
                </div>
                <div class="shape prism-4 pri-4">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.396078);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face-wrapper rt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
                        </div>
                    </div>
                    <div class="face-wrapper lt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0666667);"></div>
                        </div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                    </div>
                </div>
                <div class="shape prism-5 pri-5">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.156863);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face-wrapper rt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                        </div>
                    </div>
                    <div class="face-wrapper lt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                        </div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
                    </div>
                </div>
                <div class="shape cuboid-3 cub-3">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0666667);"></div>
                    </div>
                </div>
                <div class="shape cuboid-4 cub-4">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.32549);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.27451);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.705882);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.101961);"></div>
                    </div>
                </div>
                <div class="shape prism-6 pri-6">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0588235);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                    </div>
                    <div class="face-wrapper rt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                        </div>
                    </div>
                    <div class="face-wrapper lt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                        </div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
                    </div>
                </div>
                <div class="shape prism-7 pri-7">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.290196);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                    </div>
                    <div class="face-wrapper rt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                        </div>
                    </div>
                    <div class="face-wrapper lt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                        </div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
                    </div>
                </div>
                <div class="shape prism-8 pri-8">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.541176);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                    </div>
                    <div class="face-wrapper rt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                        </div>
                    </div>
                    <div class="face-wrapper lt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                        </div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0666667);"></div>
                    </div>
                </div>
                <div class="shape prism-9 pri-9">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.305882);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                    </div>
                    <div class="face-wrapper rt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                        </div>
                    </div>
                    <div class="face-wrapper lt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                        </div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0666667);"></div>
                    </div>
                </div>
                <div class="shape cylinder-1 cyl-1">
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face side s0">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.619608);"></div>
                    </div>
                    <div class="face side s1">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.505882);"></div>
                    </div>
                    <div class="face side s2">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.376471);"></div>
                    </div>
                    <div class="face side s3">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
                    </div>
                    <div class="face side s4">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.117647);"></div>
                    </div>
                    <div class="face side s5">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0);"></div>
                    </div>
                    <div class="face side s6">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0862745);"></div>
                    </div>
                    <div class="face side s7">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0941176);"></div>
                    </div>
                    <div class="face side s8">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0196078);"></div>
                    </div>
                    <div class="face side s9">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0941176);"></div>
                    </div>
                    <div class="face side s10">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.219608);"></div>
                    </div>
                    <div class="face side s11">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.352941);"></div>
                    </div>
                    <div class="face side s12">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.482353);"></div>
                    </div>
                    <div class="face side s13">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.6);"></div>
                    </div>
                    <div class="face side s14">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.690196);"></div>
                    </div>
                    <div class="face side s15">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.698039);"></div>
                    </div>
                </div>
                <div class="shape cylinder-2 cyl-2">
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face side s0">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.588235);"></div>
                    </div>
                    <div class="face side s1">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.392157);"></div>
                    </div>
                    <div class="face side s2">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                    </div>
                    <div class="face side s3">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.00784314);"></div>
                    </div>
                    <div class="face side s4">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.101961);"></div>
                    </div>
                    <div class="face side s5">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.00784314);"></div>
                    </div>
                    <div class="face side s6">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.207843);"></div>
                    </div>
                    <div class="face side s7">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                    </div>
                    <div class="face side s8">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.611765);"></div>
                    </div>
                    <div class="face side s9">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.705882);"></div>
                    </div>
                </div>
                <div class="shape prism-10 pri-10">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face-wrapper rt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.101961);"></div>
                        </div>
                    </div>
                    <div class="face-wrapper lt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.705882);"></div>
                        </div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.27451);"></div>
                    </div>
                </div>
                <div class="shape cylinder-3 cyl-3">
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face side s0">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.584314);"></div>
                    </div>
                    <div class="face side s1">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.384314);"></div>
                    </div>
                    <div class="face side s2">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.176471);"></div>
                    </div>
                    <div class="face side s3">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0156863);"></div>
                    </div>
                    <div class="face side s4">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.101961);"></div>
                    </div>
                    <div class="face side s5">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0156863);"></div>
                    </div>
                    <div class="face side s6">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.215686);"></div>
                    </div>
                    <div class="face side s7">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.423529);"></div>
                    </div>
                    <div class="face side s8">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.615686);"></div>
                    </div>
                    <div class="face side s9">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.705882);"></div>
                    </div>
                </div>
                <div class="shape cuboid-5 cub-5">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0666667);"></div>
                    </div>
                </div>
                <div class="shape cuboid-6 cub-6">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.509804);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0901961);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.6);"></div>
                    </div>
                </div>
                <div class="shape cylinder-4 cyl-4">
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face side s0">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.619608);"></div>
                    </div>
                    <div class="face side s1">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.505882);"></div>
                    </div>
                    <div class="face side s2">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.376471);"></div>
                    </div>
                    <div class="face side s3">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
                    </div>
                    <div class="face side s4">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.117647);"></div>
                    </div>
                    <div class="face side s5">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0);"></div>
                    </div>
                    <div class="face side s6">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0862745);"></div>
                    </div>
                    <div class="face side s7">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0941176);"></div>
                    </div>
                    <div class="face side s8">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0196078);"></div>
                    </div>
                    <div class="face side s9">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0941176);"></div>
                    </div>
                    <div class="face side s10">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.219608);"></div>
                    </div>
                    <div class="face side s11">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.352941);"></div>
                    </div>
                    <div class="face side s12">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.482353);"></div>
                    </div>
                    <div class="face side s13">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.6);"></div>
                    </div>
                    <div class="face side s14">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.690196);"></div>
                    </div>
                    <div class="face side s15">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.698039);"></div>
                    </div>
                </div>
                <div class="shape cylinder-5 cyl-5">
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face side s0">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.588235);"></div>
                    </div>
                    <div class="face side s1">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.392157);"></div>
                    </div>
                    <div class="face side s2">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                    </div>
                    <div class="face side s3">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.00784314);"></div>
                    </div>
                    <div class="face side s4">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.101961);"></div>
                    </div>
                    <div class="face side s5">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.00784314);"></div>
                    </div>
                    <div class="face side s6">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.207843);"></div>
                    </div>
                    <div class="face side s7">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                    </div>
                    <div class="face side s8">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.611765);"></div>
                    </div>
                    <div class="face side s9">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.705882);"></div>
                    </div>
                </div>
                <div class="shape cylinder-6 cyl-6">
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face side s0">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.592157);"></div>
                    </div>
                    <div class="face side s1">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.396078);"></div>
                    </div>
                    <div class="face side s2">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.188235);"></div>
                    </div>
                    <div class="face side s3">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.00392157);"></div>
                    </div>
                    <div class="face side s4">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.105882);"></div>
                    </div>
                    <div class="face side s5">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.00392157);"></div>
                    </div>
                    <div class="face side s6">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.203922);"></div>
                    </div>
                    <div class="face side s7">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.411765);"></div>
                    </div>
                    <div class="face side s8">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.607843);"></div>
                    </div>
                    <div class="face side s9">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.705882);"></div>
                    </div>
                </div>
                <div class="shape cuboid-7 cub-7">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0666667);"></div>
                    </div>
                </div>
                <div class="shape prism-11 pri-11">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.443137);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face-wrapper rt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.6);"></div>
                        </div>
                    </div>
                    <div class="face-wrapper lt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0);"></div>
                        </div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.509804);"></div>
                    </div>
                </div>
                <div class="shape cuboid-8 cub-8">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.509804);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0901961);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.6);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0);"></div>
                    </div>
                </div>
                <div class="shape cuboid-9 cub-9">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.32549);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.27451);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.101961);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.705882);"></div>
                    </div>
                </div>
                <div class="shape cylinder-7 cyl-7">
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face side s0">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.619608);"></div>
                    </div>
                    <div class="face side s1">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.505882);"></div>
                    </div>
                    <div class="face side s2">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.376471);"></div>
                    </div>
                    <div class="face side s3">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
                    </div>
                    <div class="face side s4">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.117647);"></div>
                    </div>
                    <div class="face side s5">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0);"></div>
                    </div>
                    <div class="face side s6">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0862745);"></div>
                    </div>
                    <div class="face side s7">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0941176);"></div>
                    </div>
                    <div class="face side s8">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0196078);"></div>
                    </div>
                    <div class="face side s9">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0941176);"></div>
                    </div>
                    <div class="face side s10">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.219608);"></div>
                    </div>
                    <div class="face side s11">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.352941);"></div>
                    </div>
                    <div class="face side s12">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.482353);"></div>
                    </div>
                    <div class="face side s13">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.6);"></div>
                    </div>
                    <div class="face side s14">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.690196);"></div>
                    </div>
                    <div class="face side s15">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.698039);"></div>
                    </div>
                </div>
                <div class="shape cylinder-8 cyl-8">
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face side s0">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.588235);"></div>
                    </div>
                    <div class="face side s1">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.392157);"></div>
                    </div>
                    <div class="face side s2">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                    </div>
                    <div class="face side s3">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.00784314);"></div>
                    </div>
                    <div class="face side s4">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.101961);"></div>
                    </div>
                    <div class="face side s5">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.00784314);"></div>
                    </div>
                    <div class="face side s6">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.207843);"></div>
                    </div>
                    <div class="face side s7">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                    </div>
                    <div class="face side s8">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.611765);"></div>
                    </div>
                    <div class="face side s9">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.705882);"></div>
                    </div>
                </div>
                <div class="shape cylinder-9 cyl-9">
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face side s0">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.588235);"></div>
                    </div>
                    <div class="face side s1">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.392157);"></div>
                    </div>
                    <div class="face side s2">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                    </div>
                    <div class="face side s3">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.00784314);"></div>
                    </div>
                    <div class="face side s4">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.101961);"></div>
                    </div>
                    <div class="face side s5">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.00784314);"></div>
                    </div>
                    <div class="face side s6">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.207843);"></div>
                    </div>
                    <div class="face side s7">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                    </div>
                    <div class="face side s8">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.611765);"></div>
                    </div>
                    <div class="face side s9">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.705882);"></div>
                    </div>
                </div>
                <div class="shape cylinder-10 cyl-10">
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face side s0">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.619608);"></div>
                    </div>
                    <div class="face side s1">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.505882);"></div>
                    </div>
                    <div class="face side s2">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.376471);"></div>
                    </div>
                    <div class="face side s3">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.247059);"></div>
                    </div>
                    <div class="face side s4">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.117647);"></div>
                    </div>
                    <div class="face side s5">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0);"></div>
                    </div>
                    <div class="face side s6">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0862745);"></div>
                    </div>
                    <div class="face side s7">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0941176);"></div>
                    </div>
                    <div class="face side s8">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0196078);"></div>
                    </div>
                    <div class="face side s9">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0941176);"></div>
                    </div>
                    <div class="face side s10">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.219608);"></div>
                    </div>
                    <div class="face side s11">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.352941);"></div>
                    </div>
                    <div class="face side s12">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.482353);"></div>
                    </div>
                    <div class="face side s13">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.6);"></div>
                    </div>
                    <div class="face side s14">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.690196);"></div>
                    </div>
                    <div class="face side s15">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.698039);"></div>
                    </div>
                </div>
                <div class="shape prism-12 pri-12">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.584314);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face-wrapper rt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                        </div>
                    </div>
                    <div class="face-wrapper lt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                        </div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0666667);"></div>
                    </div>
                </div>
                <div class="shape cuboid-10 cub-10">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0666667);"></div>
                    </div>
                </div>
                <div class="shape cylinder-11 cyl-11">
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face side s0">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.592157);"></div>
                    </div>
                    <div class="face side s1">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.396078);"></div>
                    </div>
                    <div class="face side s2">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.188235);"></div>
                    </div>
                    <div class="face side s3">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.00392157);"></div>
                    </div>
                    <div class="face side s4">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.105882);"></div>
                    </div>
                    <div class="face side s5">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.00392157);"></div>
                    </div>
                    <div class="face side s6">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.203922);"></div>
                    </div>
                    <div class="face side s7">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.411765);"></div>
                    </div>
                    <div class="face side s8">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.607843);"></div>
                    </div>
                    <div class="face side s9">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.705882);"></div>
                    </div>
                </div>
                <div class="shape cylinder-12 cyl-12">
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face side s0">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.592157);"></div>
                    </div>
                    <div class="face side s1">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.396078);"></div>
                    </div>
                    <div class="face side s2">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.188235);"></div>
                    </div>
                    <div class="face side s3">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.00392157);"></div>
                    </div>
                    <div class="face side s4">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.105882);"></div>
                    </div>
                    <div class="face side s5">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.00392157);"></div>
                    </div>
                    <div class="face side s6">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.203922);"></div>
                    </div>
                    <div class="face side s7">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.411765);"></div>
                    </div>
                    <div class="face side s8">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.607843);"></div>
                    </div>
                    <div class="face side s9">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.705882);"></div>
                    </div>
                </div>
                <div class="shape cuboid-11 cub-11">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0666667);"></div>
                    </div>
                </div>
                <div class="shape cuboid-12 cub-12">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0666667);"></div>
                    </div>
                </div>
                <div class="shape prism-13 pri-13">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.482353);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face-wrapper rt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.705882);"></div>
                        </div>
                    </div>
                    <div class="face-wrapper lt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.101961);"></div>
                        </div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.32549);"></div>
                    </div>
                </div>
                <div class="shape prism-14 pri-14">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.541176);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face-wrapper rt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0);"></div>
                        </div>
                    </div>
                    <div class="face-wrapper lt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.6);"></div>
                        </div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0901961);"></div>
                    </div>
                </div>
                <div class="shape prism-15 pri-15">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.403922);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face-wrapper rt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
                        </div>
                    </div>
                    <div class="face-wrapper lt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0666667);"></div>
                        </div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                    </div>
                </div>
                <div class="shape prism-16 pri-16">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.168627);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face-wrapper rt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0666667);"></div>
                        </div>
                    </div>
                    <div class="face-wrapper lt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
                        </div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                    </div>
                </div>
                <div class="shape prism-17 pri-17">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.643137);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face-wrapper rt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                        </div>
                    </div>
                    <div class="face-wrapper lt">
                        <div class="face">
                            <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                        </div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0666667);"></div>
                    </div>
                </div>
                <div class="shape cuboid-13 cub-13">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.509804);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0901961);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.6);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0);"></div>
                    </div>
                </div>
                <div class="shape cuboid-14 cub-14">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.32549);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.27451);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.705882);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.101961);"></div>
                    </div>
                </div>
                <div class="shape cuboid-15 cub-15">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.509804);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0901961);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.6);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0);"></div>
                    </div>
                </div>
                <div class="shape cuboid-16 cub-16">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.32549);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.27451);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.705882);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.101961);"></div>
                    </div>
                </div>
                <div class="shape cuboid-17 cub-17">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.32549);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.27451);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.705882);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.101961);"></div>
                    </div>
                </div>
                <div class="shape cuboid-18 cub-18">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.509804);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0901961);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.6);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0);"></div>
                    </div>
                </div>
                <div class="shape cylinder-13 cyl-13">
                    <div class="face side s2">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.584314);"></div>
                    </div>
                    <div class="face side s3">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face side s4">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
                    </div>
                </div>
                <div class="shape cuboid-19 cub-19">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0666667);"></div>
                    </div>
                </div>
                <div class="shape cuboid-20 cub-20">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0666667);"></div>
                    </div>
                </div>
                <div class="shape cuboid-21 cub-21">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0666667);"></div>
                    </div>
                </div>
                <div class="shape cuboid-22 cub-22">
                    <div class="face ft">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
                    </div>
                    <div class="face bk">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face rt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.415686);"></div>
                    </div>
                    <div class="face lt">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.180392);"></div>
                    </div>
                    <div class="face bm">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.666667);"></div>
                    </div>
                    <div class="face tp">
                        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0666667);"></div>
                    </div>
                </div>
                <div class="shape cylinder-14 cyl-14">
                    <div class="face tp">
                    </div>
                    <div class="face side s0">
                    </div>
                    <div class="face side s1">
                    </div>
                    <div class="face side s2">
                    </div>
                    <div class="face side s3">
                    </div>
                    <div class="face side s4">
                    </div>
                    <div class="face side s5">
                    </div>
                </div>
                <div class="shape cylinder-15 cyl-15">
                    <div class="face tp">
                    </div>
                    <div class="face side s0">
                    </div>
                    <div class="face side s1">
                    </div>
                    <div class="face side s2">
                    </div>
                    <div class="face side s3">
                    </div>
                    <div class="face side s4">
                    </div>
                    <div class="face side s5">
                    </div>
                </div>
                <div class="shape cylinder-16 cyl-16">
                    <div class="face tp">
                    </div>
                    <div class="face side s0">
                    </div>
                    <div class="face side s1">
                    </div>
                    <div class="face side s2">
                    </div>
                    <div class="face side s3">
                    </div>
                    <div class="face side s4">
                    </div>
                    <div class="face side s5">
                    </div>
                </div>
                <div class="shape cylinder-17 cyl-17">
                    <div class="face tp">
                    </div>
                    <div class="face side s0">
                    </div>
                    <div class="face side s1">
                    </div>
                    <div class="face side s2">
                    </div>
                    <div class="face side s3">
                    </div>
                    <div class="face side s4">
                    </div>
                    <div class="face side s5">
                    </div>
                </div>
                <div class="shape cylinder-18 cyl-18">
                    <div class="face side s2">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.584314);"></div>
                    </div>
                    <div class="face side s3">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face side s4">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
                    </div>
                </div>
                <div class="shape cylinder-19 cyl-19">
                    <div class="face side s2">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.584314);"></div>
                    </div>
                    <div class="face side s3">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face side s4">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
                    </div>
                </div>
                <div class="shape cylinder-20 cyl-20">
                    <div class="face side s2">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.584314);"></div>
                    </div>
                    <div class="face side s3">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
                    </div>
                    <div class="face side s4">
                        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.113725);"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="build-with">
            <p>Built with</p>
            <a href="http://tridiv.com">
                <img src="https://s.cdpn.io/1137/tridiv-logo.png" alt="Made with Tridiv"/>
            </a>
            <p class="making">Making 3D in CSS has never been easier</p>
            <a class="btn" href="http://tridiv.com">tridiv.com</a>
        </div>
    </div>
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                {#<div class="profile-img">#}
                    {#<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>#}
                    {#<div class="file btn btn-lg btn-primary">#}
                        {#Change Photo#}
                        {#<input type="file" name="file"/>#}
                    {#</div>#}
                {#</div>#}
            </div>
            <div class="col-md-6">
            </div>
            {#<div class="col-md-2">#}
                {#<input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>#}
            {#</div>#}
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-head">
                    <h5>{{ data.username }}</h5>
                    <h6><p> phone No: {{ data.phone }}</p></h6>
                    <p class="proile-rating" >Age : <span> {{ data.age }}</span></p>
                    <p class="proile-rating" >Gender : <span> {{ data.gender }}</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        {#<li class="nav-item">#}
                        {#<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                        {#<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>#}
                        {#</li>#}
                    </ul>
                </div>

                <div class="profile-work">
                    <p>program: <span>{{ data.program }}</span></p>
                </div>
            </div>
            {#<div class="col-md-8">#}
                {#<div class="tab-content profile-tab" id="myTabContent">#}
                    {#<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">#}
                        {#<div class="row">#}
                            {#<div class="col-md-6">#}
                                {#<label>User Id</label>#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                                {#<p>Kshiti123</p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="col-md-6">#}
                                {#<label>Name</label>#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                                {#<p>Kshiti Ghelani</p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="col-md-6">#}
                                {#<label>Email</label>#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                                {#<p>kshitighelani@gmail.com</p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="col-md-6">#}
                                {#<label>Phone</label>#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                                {#<p>123 456 7890</p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="col-md-6">#}
                                {#<label>Profession</label>#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                                {#<p>Web Developer and Designer</p>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">#}
                        {#<div class="row">#}
                            {#<div class="col-md-6">#}
                                {#<label>Experience</label>#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                                {#<p>Expert</p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="col-md-6">#}
                                {#<label>Hourly Rate</label>#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                                {#<p>10$/hr</p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="col-md-6">#}
                                {#<label>Total Projects</label>#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                                {#<p>230</p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="col-md-6">#}
                                {#<label>English Level</label>#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                                {#<p>Expert</p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="col-md-6">#}
                                {#<label>Availability</label>#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                                {#<p>6 months</p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="col-md-12">#}
                                {#<label>Your Bio</label><br/>#}
                                {#<p>Your detail description</p>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
    </form>
</div>
{% endblock %}
<script>

    (function() {

        var width, height, largeHeader, canvas, ctx, points, target, animateHeader = true;

        // Main
        initHeader();
        initAnimation();
        addListeners();

        function initHeader() {
            width = window.innerWidth;
            height = window.innerHeight;
            target = {x: width/2, y: height/2};

            largeHeader = document.getElementById('large-header');
            largeHeader.style.height = height+'px';

            canvas = document.getElementById('demo-canvas');
            canvas.width = width;
            canvas.height = height;
            ctx = canvas.getContext('2d');

            // create points
            points = [];
            for(var x = 0; x < width; x = x + width/20) {
                for(var y = 0; y < height; y = y + height/20) {
                    var px = x + Math.random()*width/20;
                    var py = y + Math.random()*height/20;
                    var p = {x: px, originX: px, y: py, originY: py };
                    points.push(p);
                }
            }

            // for each point find the 5 closest points
            for(var i = 0; i < points.length; i++) {
                var closest = [];
                var p1 = points[i];
                for(var j = 0; j < points.length; j++) {
                    var p2 = points[j]
                    if(!(p1 == p2)) {
                        var placed = false;
                        for(var k = 0; k < 5; k++) {
                            if(!placed) {
                                if(closest[k] == undefined) {
                                    closest[k] = p2;
                                    placed = true;
                                }
                            }
                        }

                        for(var k = 0; k < 5; k++) {
                            if(!placed) {
                                if(getDistance(p1, p2) < getDistance(p1, closest[k])) {
                                    closest[k] = p2;
                                    placed = true;
                                }
                            }
                        }
                    }
                }
                p1.closest = closest;
            }

            // assign a circle to each point
            for(var i in points) {
                var c = new Circle(points[i], 2+Math.random()*2, 'rgba(255,255,255,0.3)');
                points[i].circle = c;
            }
        }

        // Event handling
        function addListeners() {
            if(!('ontouchstart' in window)) {
                window.addEventListener('mousemove', mouseMove);
            }
            window.addEventListener('scroll', scrollCheck);
            window.addEventListener('resize', resize);
        }

        function mouseMove(e) {
            var posx = posy = 0;
            if (e.pageX || e.pageY) {
                posx = e.pageX;
                posy = e.pageY;
            }
            else if (e.clientX || e.clientY)    {
                posx = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
                posy = e.clientY + document.body.scrollTop + document.documentElement.scrollTop;
            }
            target.x = posx;
            target.y = posy;
        }

        function scrollCheck() {
            if(document.body.scrollTop > height) animateHeader = false;
            else animateHeader = true;
        }

        function resize() {
            width = window.innerWidth;
            height = window.innerHeight;
            largeHeader.style.height = height+'px';
            canvas.width = width;
            canvas.height = height;
        }

        // animation
        function initAnimation() {
            animate();
            for(var i in points) {
                shiftPoint(points[i]);
            }
        }

        function animate() {
            if(animateHeader) {
                ctx.clearRect(0,0,width,height);
                for(var i in points) {
                    // detect points in range
                    if(Math.abs(getDistance(target, points[i])) < 4000) {
                        points[i].active = 0.3;
                        points[i].circle.active = 0.6;
                    } else if(Math.abs(getDistance(target, points[i])) < 20000) {
                        points[i].active = 0.1;
                        points[i].circle.active = 0.3;
                    } else if(Math.abs(getDistance(target, points[i])) < 40000) {
                        points[i].active = 0.02;
                        points[i].circle.active = 0.1;
                    } else {
                        points[i].active = 0;
                        points[i].circle.active = 0;
                    }

                    drawLines(points[i]);
                    points[i].circle.draw();
                }
            }
            requestAnimationFrame(animate);
        }

        function shiftPoint(p) {
            TweenLite.to(p, 1+1*Math.random(), {x:p.originX-50+Math.random()*100,
                y: p.originY-50+Math.random()*100, ease:Circ.easeInOut,
                onComplete: function() {
                    shiftPoint(p);
                }});
        }

        // Canvas manipulation
        function drawLines(p) {
            if(!p.active) return;
            for(var i in p.closest) {
                ctx.beginPath();
                ctx.moveTo(p.x, p.y);
                ctx.lineTo(p.closest[i].x, p.closest[i].y);
                ctx.strokeStyle = 'rgba(156,217,249,'+ p.active+')';
                ctx.stroke();
            }
        }

        function Circle(pos,rad,color) {
            var _this = this;

            // constructor
            (function() {
                _this.pos = pos || null;
                _this.radius = rad || null;
                _this.color = color || null;
            })();

            this.draw = function() {
                if(!_this.active) return;
                ctx.beginPath();
                ctx.arc(_this.pos.x, _this.pos.y, _this.radius, 0, 2 * Math.PI, false);
                ctx.fillStyle = 'rgba(156,217,249,'+ _this.active+')';
                ctx.fill();
            };
        }

        // Util
        function getDistance(p1, p2) {
            return Math.pow(p1.x - p2.x, 2) + Math.pow(p1.y - p2.y, 2);
        }

    })();
</script>

{#{% block javascript %}#}
{#{{ encore_entry_script_tags('student_background') }}#}


{#{% endblock %}#}