<!--
Author: Colorlib
Author URL: https://colorlib.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>student Registration </title>
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}
</head>
{% block body %}<!-- main -->
<div class="main-w3layouts wrapper">
    <h1>student login </h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            {#{{ form(form) }}#}

            {{ form_start(form, {'method': 'post'}) }}

            <div class="hide">
                {{ form_rest(form) }}
            </div>
            <div class="btn_box text-center clearfix">
                <div id="spinner_wrap" data-spinner="spinner"></div>
                <button type="submit" class="btn btn_green btn-block text-uppercase" href="javascript:void(0);">Sign up</button>
            </div>
            {{ form_end(form) }}
            <p>Don't have an Account? <a href="{{ path('login') }}"> Login Now!</a></p>
        </div>
    </div>
    <!-- copyright -->

    <!-- //copyright -->
    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<!-- //main -->
{% endblock  %}</html>