
<title>student Registration </title>
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}

    <style>

        .std{
            width: fit-content;
            margin-left: 600px;


        }


    </style>
    {% endblock %}
{% block body %}<!-- main -->
<div class="main-w3layouts wrapper">
    <h1 class="std">student login </h1>
    <div class="main-agileinfo std" >
        <div class="agileits-top" style="width: 50%;">
            {#{{ form(form) }}#}

            {{ form_start(form, {'method': 'post'}) }}
            {#{{ form_start(student) }}#}
            {{ form_widget(form.user.username,{ 'attr': {'placeholder':'Enter you username ','class':'form-control'} }) }}
            {{ form_widget(form.user.email,{ 'attr': {'placeholder':'Enter you email ','class':'form-control'} }) }}

            {{ form_widget(form.age ,{ 'attr': {'placeholder':'age ','class':'form-control'} })}}
            {{ form_widget(form.gender,{ 'attr': {'placeholder':'Enter your Gender ','class':'form-control'} }) }}
            {{ form_widget(form.program,{ 'attr': {'placeholder':'Enter your program ','class':'form-control'} }) }}
            {{ form_widget(form.phone,{ 'attr': {'placeholder':'Enter you phn number ','class':'form-control'} }) }}
            {{ form_widget(form.user.password,{ 'attr': {'placeholder':'Enter you password '} }) }}
            {#<button type="submit" class="btn btn-primary">Update!</button>#}
            <div class="hide">
                {{ form_rest(form) }}
            </div>
            <div class="btn_box text-center clearfix">
                <div id="spinner_wrap" data-spinner="spinner"></div>
                <button type="submit" class="btn btn_green btn-block text-uppercase" href="javascript:void(0);">Sign up</button>
            </div>
            {{ form_end(form) }}
            <p>Don't have an Account? <a href="{{ path('login') }}"> Login Now!</a></p>
        </div>
    </div>
    <!-- copyright -->

    <!-- //copyright -->

</div>
<!-- //main -->
{% endblock  %}